<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="text-2xl">{{user.name}}</h2>
    <p class="font-bold">Email: <span>{{user.email}}</span></p>
    <div class="card-actios justify-end">
      <a href="/users" class="btn btn-info">Volver</a>
    </div>
  </div>
</div>